.hero-main {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  background-color: #f8f8f8; /* Set a background color */
  border-radius: 15px; /* Adjust border radius as needed */
  overflow: hidden; /* Ensure content does not overflow the container */
  margin-top: 20px;
  display: flex; /* Add flex to ensure child elements are properly positioned */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit:fill; /* Ensures the image covers the container */
    border-radius: 15px;
  }
  /* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .hero-main {
    height: 300px; /* Adjust height for smaller screens */
    border-radius: 10px; /* Adjust border radius as needed */
  }

  .hero-image {
    border-radius: 10px; /* Match the container border radius */
  }
}

@media (max-width: 480px) {
  .hero-main {
    height: 200px; /* Adjust height for mobile screens */
    border-radius: 5px; /* Adjust border radius as needed */
  }

  .hero-image {
    border-radius: 5px; /* Match the container border radius */
  }
}
